@font-face {
  font-family: "iconfont"; /* Project id 2649116 */
  src: url('iconfont.eot?t=1639139920263'); /* IE9 */
  src: url('iconfont.eot?t=1639139920263#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1639139920263') format('woff2'),
       url('iconfont.woff?t=1639139920263') format('woff'),
       url('iconfont.ttf?t=1639139920263') format('truetype'),
       url('iconfont.svg?t=1639139920263#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-child-form:before {
  content: "\e65f";
}

.icon-add:before {
  content: "\e65e";
}

.icon-redo:before {
  content: "\e65c";
}

.icon-undo:before {
  content: "\e65d";
}

.icon-pc:before {
  content: "\e65b";
}

.icon-pad:before {
  content: "\e65a";
}

.icon-mobile:before {
  content: "\e659";
}

.icon-undo-new:before {
  content: "\e658";
}

.icon-redo-new:before {
  content: "\e657";
}

.icon-input:before {
  content: "\e62e";
}

.icon-font:before {
  content: "\e62f";
}

.icon-tabs:before {
  content: "\e630";
}

.icon-date:before {
  content: "\e631";
}

.icon-sync:before {
  content: "\e632";
}

.icon-grid:before {
  content: "\e633";
}

.icon-bars:before {
  content: "\e634";
}

.icon-select:before {
  content: "\e635";
}

.icon-slider:before {
  content: "\e636";
}

.icon-single-layout:before {
  content: "\e637";
}

.icon-trash:before {
  content: "\e638";
}

.icon-rate:before {
  content: "\e639";
}

.icon-clone:before {
  content: "\e63a";
}

.icon-clear:before {
  content: "\e63b";
}

.icon-coral:before {
  content: "\e63c";
}

.icon-check-box:before {
  content: "\e63d";
}

.icon-preview:before {
  content: "\e63e";
}

.icon-custom:before {
  content: "\e63f";
}

.icon-json:before {
  content: "\e640";
}

.icon-cascade:before {
  content: "\e641";
}

.icon-delete:before {
  content: "\e642";
}

.icon-picture:before {
  content: "\e643";
}

.icon-time:before {
  content: "\e644";
}

.icon-tooltip:before {
  content: "\e645";
}

.icon-drag:before {
  content: "\e646";
}

.icon-release:before {
  content: "\e647";
}

.icon-rich-text:before {
  content: "\e648";
}

.icon-textarea:before {
  content: "\e649";
}

.icon-upload:before {
  content: "\e64a";
}

.icon-code-generation:before {
  content: "\e64b";
}

.icon-code:before {
  content: "\e64c";
}

.icon-score:before {
  content: "\e64d";
}

.icon-table:before {
  content: "\e64e";
}

.icon-switch:before {
  content: "\e64f";
}

.icon-radio:before {
  content: "\e650";
}

.icon-divider:before {
  content: "\e651";
}

.icon-number:before {
  content: "\e652";
}

.icon-preview-picture:before {
  content: "\e653";
}

.icon-empty-trash:before {
  content: "\e654";
}

.icon-color:before {
  content: "\e655";
}

.icon-file-upload:before {
  content: "\e656";
}

